:root
{
    --bg: #f6f6f6;
    --card-bg-border: #e9e9e9;
    --accent: #486095;
    --text: #111827;
    --muted: #6b7280;
    --tag: #e5e7eb;
}

body
{
    font-family: "Calibri", system-ui, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header
{
    background: var(--accent);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header h1
{
    margin: 0;
    font-size: 2.4rem;
}

header p
{
    margin-top: 0.5rem;
    color: white;
}

main
{
    max-width: 1080px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    gap: 30px;
}

.project
{
    display: block;
    background: white;
    text-decoration: none;
    color: inherit;
    border-radius: 12px;
    padding: 1.5rem;
    border: 2px solid var(--card-bg-border);
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);*/
    transition: transform 0.2s ease, border 0.2s ease;;
    min-width: 420px;
    min-height: 420px;
}

.project:hover
{
    transform: translateY(-3px);
    border: 2px solid var(--accent);
    cursor: pointer;
}

.project h2
{
    margin-top: 0;
    font-size: 1.3rem;
    color: var(--accent);
}

.project p
{
    color: var(--muted);
}

.tags
{
    margin: 0rem;
}

.tag
{
    display: inline-block;
    background: var(--tag);
    color: var(--text);
    border-radius: 8px;
    padding: 0.25rem 0.6rem;
    font-size: 0.8rem;
    margin-right: 0.3rem;
    margin-top: 0.75rem;
}

footer
{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--muted);
}

@media (min-width: 840px)
{
    main
    {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        grid-auto-rows: minmax(420px, auto);
    }
}

@media (min-width: 840px)
{
    .project-featured
    {
        grid-column: span 2;
        grid-row: span 1.5;
    }
}

.visualisation-thumb
{
    width: 100%;
    height: auto;
    display: block;
}

.back-btn
{
    position: absolute;
    left: 2rem;
    top: 2rem;
    background: white;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

.back-btn:hover
{
    background: var(--muted);
    color: white;
    transform: translateY(1px);
}